<h1><%= @category.name %></h1>

<% @category.book.each do |idea| %>
  <b>ID </b><%= idea.id %>
  <b>Name </b>
  <%= link_to book.title, book_path(book) %>
  <b>Description </b><%= book.description %><br>
<% end %>


